/*
 * Author: Millie Jones
 * Date: 12/05/2024
 * Name: css.css
 * Description: This is the css style file
 */
body{
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Monaco";
}
h1, h2{
    font-family: "Monaco";
    padding-left: 5px;
}
#Rlogo{
    padding-right: 100px;
    float: right;
}
#Llogo{
    padding-left: 100px;
    float: left;
}

#searchbar{
    float:left;
    padding-right: 5px;
}
/*change the search bar text font*/
#searchbar input[type="text"] {
    position: right;
    width: 155px;
    padding-left: 8px;
    font-size: 0.8em;
    font-family: "Monaco";
    color: navy;
}

/*change the color so when you hover the submit button its color matches the rest of the application*/
#searchbar input[type="submit"]:hover{
    border-left: 1px solid #999;
    background-color: dodgerblue;
}

 /*make the table more centered, */
 table {
     width: 100%;
     padding-right: 5px;
     padding-left: 5px;
     border: dodgerblue;
     border-collapse: collapse;
     border-spacing: 10px
 }

td {
    border: 1px dodgerblue;
    text-align: left;
    padding: 8px;
    font-family: Serif;
}

th {
    background-color: navy;
    opacity: 1;
    color: whitesmoke;
    border: 1px solid white;
    text-align: center;
    padding: 8px;
    font-family:Serif;
}
td:hover {
    background-color: dodgerblue;
    opacity: .5;
}
tr:nth-child(even) {background-color: #f2f2f2;}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: navy;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: dodgerblue;
    color: white;
}




#suggestionDiv {
    float: right;
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    right: -1px;
    background-color: #fff;
    font-size: 0.85em;
    z-index: 9999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,.175);
}

#suggestionDiv span {
    display: block;
    padding: 4px 3px 4px 10px;
    cursor: default;
    min-width: 100px;
    white-space: wrap;
}

#suggestionDiv span:hover {
    background-color: dodgerblue;
}

/*style for create account button div*/
#buttonDiv{
    position: absolute;
    bottom: 150;
}
#buttonDiv1{
    position: absolute;
    bottom: 150;
    left : 300;
}